In [179]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import datetime as dt
import re

### Import Data

In [180]:
df = pd.read_csv('test.csv')
df2 = pd.read_csv('train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

C:\Users\Ammar\AppData\Local\Temp\ipykernel_4976\1608557556.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('train.csv')

In [181]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

Checking ID

In [182]:
df['ID'].nunique()

50000

In [183]:
df2['ID'].nunique()

100000

Checking Month Column

In [184]:
df['Month'].unique()

array(['September', 'October', 'November', 'December'], dtype=object)

In [185]:
df2['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August'], dtype=object)

Fill the missing value with Unknown

In [186]:
df['Name'].fillna('Unknown', inplace=True)

Cleaning Age column for test file

In [188]:
df['Age'] = df['Age'].str.replace(r'\D', '', regex=True).astype(int)

In [189]:
print(df['Age'])

0          23
1          24
2          24
3          24
4          28
         ...
49995    4975
49996      25
49997      25
49998      25
49999      25
Name: Age, Length: 50000, dtype: int32

In [190]:
df['Age'] = df['Age'].apply(lambda x: x if x >= 0 else pd.NA)
has_nan = df['Age'].isna().any()

if has_nan:
    print("The 'Age' column has NaN values.")
else:
    print("The 'Age' column does not have any NaN values.")

The 'Age' column does not have any NaN values.

In [191]:
df2['Age'] = df2['Age'].str.replace(r'\D', '', regex=True).astype(int)

In [192]:
print(df2['Age'])

0         23
1         23
2        500
3         23
4         23
        ...
99995     25
99996     25
99997     25
99998     25
99999     25
Name: Age, Length: 100000, dtype: int32

In [220]:
(df2['Age'] > 100).sum()

2776

In [193]:
df['Age'] = df['Age'].apply(lambda x: x if x >= 0 else pd.NA)
has_nan = df['Age'].isna().any()

if has_nan:
    print("The 'Age' column has NaN values.")
else:
    print("The 'Age' column does not have any NaN values.")

The 'Age' column does not have any NaN values.

Change SSN column for wrong values

In [194]:
pattern = r'\d{3}-\d{2}-\d{4}'

# Clean the 'SSN' column
df['SSN'] = df['SSN'].apply(lambda x: x if re.match(pattern, str(x)) else pd.NA)

In [195]:
df['SSN'].fillna('Unknown', inplace=True)

In [196]:
print(df['SSN'][5])

Unknown

replace the wrong value for occupation

In [206]:
df['Occupation'] = df['Occupation'].str.replace('[^a-zA-Z\s]', '', regex=True)
df['Occupation'] = df['Occupation'].replace('', np.nan)

In [207]:
df['Occupation'].fillna('Unknown', inplace=True)

In [217]:
no_integers = not df['Month'].astype(str).str.isnumeric().any()

if no_integers:
    print("There are no integer values in the 'Occupation' column.")
else:
    print("There are integer values in the 'Occupation' column.")

There are no integer values in the 'Occupation' column.

In [208]:
print(df['Occupation'][4])

Unknown

In [211]:
df.to_csv('cleaned_file.csv', index=False)